<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="reporting.Setup"/>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="E:/Terabox Backup/Automation Projects/InforTrackTest/src/test/java/tests">
        <classes>
            <class name="tests.CreateAUserTests">
                <methods>
                    <include name="createAUserTests"/>
                </methods>
            </class>
            <class name="tests.DeleteAUserTests">
                <methods>
                    <include name="deleteAnExistingUserTests"/>
                    <include name="deleteNonExistingUserTests"/>
                    <include name="deleteUserWithUnauthorizedPermission"/>
                </methods>
            </class>
            <class name="tests.End2EndTests">
                <methods>
                    <include name="deleteUserAfterBeingCreated"/>
                    <include name="updateUserAfterBeingCreated"/>
                </methods>
            </class>
            <class name="tests.LoginTests">
                <methods>
                    <include name="loginTests"/>
                </methods>
            </class>
            <class name="tests.ReadAUserTests">
                <methods>
                    <include name="readAnExistingUserTests"/>
                    <include name="readNonExistingUserTests"/>
                    <include name="readUserWithUnauthorizedPermission"/>
                </methods>
            </class>
            <class name="tests.UpdateAUserTests">
                <methods>
                    <include name="updateAUserTests"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>